html {
    font-size: 10px;
}

body {
    background-color: orangered;
    margin-top: 4rem;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 50rem;
}

.slider {
    position: relative;
    width: auto;
    height: 50rem;
}

img {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.under-slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-name {
    position: relative;
    width: 20rem;
    height: 5rem; 
}

.image-name p {
    position: absolute;
    font-size: 1.6rem;
    letter-spacing: 0.06em;
    opacity: 0;
    font-weight: bold;
}


.switches {
    display: flex;
    justify-content: space-between;
    width: 2rem;
    align-items: center;
    width: 20rem;
}

.switches > div {
    width: 2rem;
    height: 3rem;
    box-sizing: border-box;
    padding-bottom: 1rem;
    cursor: pointer;
}

.label-wrapper:hover > label {
    background-color: white;
}


.switches label {
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 10px;
    display: block;
}

.switches label:hover {
    background-color: white;
    cursor: pointer;
}

#radio-button-1:checked ~ .slider > #image-1 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-2:checked ~ .slider > #image-2 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-3:checked ~ .slider > #image-3 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-4:checked ~ .slider > #image-4 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-5:checked ~ .slider > #image-5 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-6:checked ~ .slider > #image-6 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-7:checked ~ .slider > #image-7 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-1:checked ~ .under-slider #name-1 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-2:checked ~ .under-slider #name-2 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-3:checked ~ .under-slider #name-3 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-4:checked ~ .under-slider #name-4 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-5:checked ~ .under-slider #name-5 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-6:checked ~ .under-slider #name-6 {
    opacity: 100;
    transition: all 0.5s linear;
}

#radio-button-7:checked ~ .under-slider #name-7 {
    opacity: 100;
    transition: all 0.5s linear;
}